.header--profile-photo {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.header--title {
    font-size: 1.562rem;
    margin-top: 0.4em;
    margin-bottom: 0;
}

.header--subtitle {
    font-size: 0.8rem;
    color: #F3BF99;
    font-weight: 200;
    margin: 0;
}

.header--links__container {
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}