.btn {
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 6px;
    width: 100%;
    font-size: 0.875rem;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.959);
    position: relative;
}

.btn__primary {
    background: #5093E2;
    color: #FFF;
}

.btn__secondary {
    background: #FFF;
    color: #374151;
}

.btn--icon {
    margin-right: 0.6em;
}

.btn:hover,
.btn:focus {
    transition-duration: 0.2s;
    background-color: #3A3A3A;
}

.btn__secondary:hover,
.btn__secondary:focus {
    color: #FFF;
}