.intro-section {
    text-align: left;
    padding: 0.8em 1.4em 0 1.4em;
}

.intro-section--title {
    margin: 0;
    font-size: 1rem;
}

.intro-section--content {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.5;
}